/* box-sizing to border-box for all elements to include padding & border in the total width & height */
/* apply a padding & margin of 250 to all elements */
* {
    box-sizing: border-box;
    padding: 250;
    margin: 250;
}

/* background color of the body */
body {
    background-color: #e1e5eb;
}

/* style the header section */
.header {
    position: relative;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #06293b;
    color: #e1e5eb;
    display: flex;
}

/* add styling the navbar */
ul.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

/* float the list items with the class "nav-item" to the right */
li.nav-item {
    float: right;
}

/* style the anchor elements within the list items */
li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 55px;
    text-decoration: none;
}

/* apply a background color to the anchor elements on hover */
li.nav-item a:hover {
    background-color: #555;
}

/* a flex container with wrapping behavior */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
}

.container img {
    max-width: 100%;
}

/* style the inner div within the container */
.container div {
    display: flex;
    align-items: flex-start;
    align-content: flex-end;
    flex-direction: column;
    font-size: 35px;
}

/* a flex container with center alignment */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* style the anchor elements within the navigation */
nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* style the heading within the header section */
.header h1 {
    display: inline-block;
    margin-right: 50;
    font-size: 48px;
}

/* style the inner div within the header section */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}


.header div ul {
    list-style-type: none;
}

/* style the list items within the unordered list */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* style anchor elements */
a {
    color: #06293b;
    text-decoration: none;
}

/* style paragraphs */
p {
    font-size: 22px;
}

/* style the header photo section */
.header-photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: <img src="assets/images/Portfolio Photo.png" alt="Portfolio Photo" >;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Position the content section */
.content {
    position: absolute;
    width: 25%;
    right: 0;
}

/* style the development projects section */
#development-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.development-projects-content {
    /* additional styling for the content inside the section */
}

.card {
    flex: 0 0 calc(25% - 20px);
    /* adjust the width as needed */
    margin: 5px;
}

/* style the cards */
.card {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    text-align: center;
}

/* style the header within the cards */
.card header {
    padding: 20px;
}

.card p {
    text-align: center;
}

/* style images within the cards */
.card img {
    /* width: 100%; */
    height: 300px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}